h1 {
    color: mediumblue;
    font-weight: bold;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: 2px solid black;
    background-color: gainsboro;
}

h2 {
    color: maroon;
}

h3 {
    color: indigo;
}

body {
    background-color: ghostwhite;
}

footer {
    font-style: italic;
}

code {
    background-color: gainsboro;
    padding: 2.25px;
    border: 0.5px solid black;
}